MONGO_CONNECTION_STRING='mongodb://admin:admin123@localhost:27017/?authSource=admin'
JWT_SECRET='12345'
JWT_EXPIRES_IN='10'
JWT_REFRESH_SECRET='newToken'


MAIL_USER='teamtoriiapp@gmail.com'
MAIL_PASS='smup asae jtrk izni'
